.hero{
    position:relative;
    width: 100%;
    height: 100vh;
    background: grey;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    justify-content: space-between;
}

nav ul li{
    display: inline-block ;
    list-style: none;
    margin: 10 px 20px;

}

nav ul li{
    text-decoration: none;
    color:black;
    font-weight: bold;
}

nav ul li a :hover{
    color: blue;
}

.detel{
margin-left:  8%;
margin-right: 15%;
}

.detel h1{

    margin-top: 20px;
    font-size: 40px;
    color:brown;

}

.detel p{
    color:black;
    line-height: 21px;
}

.detel a{
    background: #313131;
    padding: 10px 31px;
    text-decoration:none;
    font-size:bold;
    color: #efffef;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images{
    width: 45%;
    height: 65%;
    position: absolute;
    bottom: 0;
    right: 100%;
}

/* .images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%)
    transition: bottom 1s, left 1s;
} 

.shape{
    height: 500px;
    width: 500px;
}

.images:hover .girl{
    left: 45%;
}

.d-flex{
    display: flex;
}

*{
    padding: 0;
    font-family:  sans-serif;

}

.about{
    width: 100%;
    padding: 78px 0px;
    background-color: blue;
}

.about-text{
    width: 550px
}

.main{
    width: 1130px;
    max-width: 95%;
    margin 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1{
    color white;
    font-size: 88px;
    text-transform: capitalize;
    margin-bottom: 20px;
}


    
